<br />
<div class="alert alert-danger" role="alert">
  Error when trying to obtain data. Try it again.
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    Select a currency to be converted
  </div>
  <div class="panel-body text-center">
    <form action="" class="form-inline">
      <input type="text" name="value" class="form-control text-right" placeholder="0" required />
      <select name="currencyFrom" class="from-control" required>
        <option></option>
      </select>
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <select name="currencyTo" class="form-control">
        <option></option>
      </select>
      <input type="submit" class="btn btn-success" />
    </form>
  </div>
</div>
